<html>
  <head>
    <title>Start a gossip</title>
  </head>
  <body>
    <h1>Start a gossip !</h1>
    <p>Start gossiping by filling up the form</p>
    <form action='/gossips/new/' method='POST'>
      Enter your name :  <input type='text' name='gossip_author'/><br/>
      Write your gossip : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>