<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h2>Here is the gossip nยบ <%= id %></h2>
      <p>
        Author : <%= gossip.author %></br>
        Content : <%= gossip.content %></br>
        </br>
        <a href="/gossips/<%= id%>/edit">Edit this gossip</a>
        </br>
        <a href='/'>Go back to home page </a>
      </p>
  </body>
</html>